.table .cellWrapper {
    display: flex;
    align-items: center;
}

.table .cellWrapper .image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.table .status {
    padding: 5px;
    border-radius: 5px;
}

.table .status option {
    margin: 5px 3px;
}

.table .status.Active {
    color: green;
    background-color: rgba(0, 128, 0, 0.151);
}

.table .status.Confirmed {
    color: green;
    background-color: rgba(0, 128, 0, 0.151);
}

.table .status.Attended {
    color: blue;
    background-color: rgba(17, 207, 207, 0.151);
}

.table .status.Active {
    color: goldenrod;
    background-color: rgba(189, 189, 3, 0.103);
}

.table .status.Cancelled {
    color: red;
    background-color: rgba(248, 68, 36, 0.103);
}