body {
  font-family: Roboto, sans-serif;
}

body a {
  text-decoration: none;
}

.invalid-feedback {
  color: red;
}

.login {
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.login .lg-body .lg-image-background {
  /* background-image: url("../images/background/header-cover.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; */
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.05);
  opacity: 0.9;
  height: 600px;
  border-radius: 3px;
}

.login .lg-body .lg-image-background:hover {
  opacity: 1;
}

.login .lg-body .text-login {
  display: block;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
}

.login .lg-body .login-form {
  margin-top: 20px;
}

.login .lg-body .forgot-password {
  margin-top: 5px;
  margin-bottom: 10px;
}

.login .lg-body .forgot-password a {
  text-decoration: none;
}

.login .lg-body .lg-register {
  text-decoration: none;
}

.btn-register {
  margin-top: 15px;
}


.forgot-password {
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn__login {
  background-color: rgb(0, 26, 255);
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 10px;
  color: white;
}